:root {

  //Font
  --primary-fontFamily: none, sans-serif;
  --secondary-fontFamily: none, sans-serif;

  //Color
  --primary-color: none;
  --secondary-color: none;
  --tertiary-color: none;
  --accent-color: none;

  //Text
  --primary-textColor: none;
  --secondary-textColor: none;

  //Bg
  --primary-bgColor: none;
}
  
  
  
