<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="css/index.css">
  <title>Home</title>
</head>
<body class="">
  <div class="wrapper">
    <main class="main">
      <div class="start">
        <h2>Start!!!</h2>
      </div>
      <div class="horizont">
        <section class="panel blue">
          <h2>Panel One</h2>
        </section>
        <section class="panel red">
          <h2>Panel Two</h2>
        </section>
        <section class="panel gray">
          <h2>Panel Two</h2>
        </section>
      </div>
      <div class="final">
        <h2>End???</h2>
      </div>
    </main>
  </div>
  <script src="js/index.js"></script>
</body>
</html> 