h2 {
  @include adaptivePropertyMobile(font-size, 50, 24);
  font-weight: 500;
  color: rgb(30, 27, 27);
}
html {
  background-color: grey;
}
.start, .panel, .final {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: pink;
  border: 10px solid black;
}

// .horizont-inner {
//   height: 300vw;
// }
.horizont {
  display: flex;
  width: fit-content;
  height: 100vh;
}
.wrapper {
  // overflow-y: scroll;
  // overflow-x: clip;
}
.panel {
}
.final {
}


.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.gray {
  background-color: grey;
}
.purple {
  background-color: purple;
}
.green {
  background-color: green;
}
